// Font Archivo

@font-face {
    font-family: 'Archivo-Light';
    src: url('../fonts/Archivo/Archivo-Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Archivo-Regular';
    src: url('../fonts/Archivo/Archivo-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Archivo-Medium';
    src: url('../fonts/Archivo/Archivo-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Archivo-Bold';
    src: url('../fonts/Archivo/Archivo-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Archivo-Black';
    src: url('../fonts/Archivo/Archivo-Black.ttf') format('truetype');
    font-display: swap;
}
